[submodule "submodules/glad"]
	path = submodules/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/fromasmtodisasm/imgui
[submodule "submodules/tinyxml2"]
	path = submodules/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
