build/*
*.swp
*.bak
*.swo
/.vs
*.swo
*.lnk
CMakeLists.txt.user*
/CMakeSettings.json
res/tmp/*
res/geom/tmp/
imgui.ini
/out/build/x64-Debug
screen_shots/*
out/build
out/glDebug.txt
/log.txt
/tmp
/logs
compile_commands.json
.clangd/
bin/*
vcpkg/
/.vscode
