# Temporary files.
*.log
*.swp
*.swo

# Visual Studio Files
/.vs
*.swo
*.lnk
/out

# Qt Creator Project Files List
CMakeLists.txt.user*

# Binary directories.
/[Bb]in*/
/Tools/rc/*

# CMake
cmake-build*
build


/vcpkg
vcpkg_installed/*

# Temporary Directories
Solutions/*

/.vscode

# Config files
/user.cfg
/system.cfg
/editor.cfg
/game.cfg

#
Code/Engine/Renderer/Shaders/Parser.output
Thumbs.db
/Data/Sounds
/Engine/Textures
/GameData

*.pak
*.zip
